<template component="chat-message">
  <script setup>
    import { defineProp } from '@li3/web';

    export default function () {
      return { m: defineProp('message', { default: () => {} }) };
    }
  </script>
  <div class="relative" class-border-l.border-zinc-600.pl-4.pb-4="m.role === 'assistant'" bind-msg="m">
    <div class="flex items-center justify-between text-xs mb-1">
      <div>
        <span class="inline-block rounded p-1 bg-zinc-700 empty:hidden" bind-inner-text="m.meta?.model || ''"></span>
      </div>

      <button
        class="text-red-400/70"
        class-hidden="m.meta?.thinking || !m.meta?.uid"
        on-click="onDeleteMessage(m.meta?.uid)"
      >
        <lucide-icon icon="trash-2" size="16" title="Delete message"></lucide-icon>
      </button>
    </div>

    <collapsed-text
      v-if="m.thinking"
      class="text-zinc-400 w-full block"
      bind-content="m.thinking || ''"
    ></collapsed-text>

    <markdown-it
      v-if="m.content"
      bind-src="m.content"
      class="bg-zinc-900 rounded-md text-white p-1 w-full block"
    ></markdown-it>

    <template if="message.role === 'tool'">
      <div class="text-emerald-500 px-1 py-0.5" bind-inner-text="m.tool_name || ''"></div>
      <collapsed-text class="text-zinc-500" bind-content="m.content || ''"></collapsed-text>
    </template>
  </div>
</template>

<template component="app-chat">
  <section class="flex flex-col bg-zinc-950 border-r border-zinc-800 h-full">
    <div class="flex-1 overflow-y-auto p-4 font-mono text-xs flex flex-col-reverse gap-2">
      <template for="m of messages">
        <chat-message bind-message="m"></chat-message>
      </template>
    </div>

    <div class="p-3 border-t border-zinc-800 bg-zinc-900/20" class-hidden="!workspace || !sessionId">
      <form
        class="relative bg-zinc-900 border border-zinc-800 rounded-xl focus-within:border-zinc-700 transition p-2"
        on-submit.prevent="onSend()"
      >
        <textarea
          rows="2"
          name="prompt"
          placeholder="Next steps..."
          bind-value="newMessage"
          bind-disabled="sending"
          class="w-full bg-transparent text-sm placeholder-zinc-600 focus:outline-none resize-none px-2 py-1"
          class-text-zinc-200="!sending"
          class-text-zinc-600="sending"
          on-input.stop="setMessage($event.target.value)"
          on-keydown="onKeyDown($event)"
        ></textarea>
        <div class="flex justify-between items-center p-2 px-1">
          <dynamic-list
            label="Model"
            placeholder="Model to use"
            bind-list="modelListMapped"
            bind-selected="model"
            on-reload="store.reloadModelList()"
            on-select="store.setModel($event.detail)"
            on-add="onPullModel()"
          ></dynamic-list>

          <div class="flex items-center gap-3">
            <button
              type="submit"
              class="bg-zinc-100 text-black hover:bg-zinc-200 font-semibold text-xs px-3 py-1 rounded-md transition"
              class-animate-pulse="sending"
              class-opacity-50="sending || (!workspace || !sessionId || !newMessage.trim())"
              bind-disabled="sending || (!workspace || !sessionId || !newMessage.trim())"
            >
              <lucide-icon icon="send-horizontal" size="24" title="Send"></lucide-icon>
            </button>

            <button
              type="button"
              on-click="store.retryMessage()"
              class="text-xs text-zinc-600 font-mono"
              class-hidden="!sessionId"
            >
              <lucide-icon icon="list-restart" size="24" title="Retry"></lucide-icon>
            </button>

            <button
              type="button"
              on-click="store.reloadMessages()"
              class="text-xs text-zinc-600 font-mono"
              class-hidden="!sessionId"
            >
              <lucide-icon icon="refresh-cw" size="24" title="Reload"></lucide-icon>
            </button>
          </div>
        </div>
      </form>
    </div>
  </section>

  <script setup src="./app-chat.mjs"></script>
</template>
